   <div class="container">
     <div class="row">

   
   <div class="col-4"></div>
    <div class= "col-4">
      <div class="adminBackground">
        <h2>ADMIN LOGIN</h2> <br>
          <input [(ngModel)]="username" placeholder="Enter Username">
          <br> <br>
          <input [(ngModel)]="password" placeholder="Enter Password" type="password">
          <br> <br>
          <button type="submit" class="btn btn-primary" (click)="onLogin()">LOGIN</button>
      </div>    
     </div>
   </div>
  </div>